#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100vw;
    background-color: #00a087;
    font: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    float: left;
}

#nav-bar .header {
    float: left;
    font-size: 2rem;
    line-height: 2.5;
    color: #ffffff !important;
}

.compose-button {
    color: #00a087;
    border-radius: 2px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: black solid 1px;
    background-color: white;
    box-shadow: 0 3px #999;
}

.compose-button :active {
    box-shadow: 0 1px #d2d5db;
}
